* {
    margin: 0;
    width: 100vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html{
background-color: black;  
}


#instrumenterimg{
    width: 100%;
}

#mønsterimg{
    width: 100%;
}

.billeder {
    width: 15em;
}

.sektioner{
    width: 80vw;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black; /*virker ikke pt*/
    border-radius: 30px;
    margin-bottom: 2em;
}

#events{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p{
    width: 100%;
}