* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* Vigtig til at undgå overflow */
}

html{
background-color: black;  
color: white;
}


#instrumenterimg{
    width: 100%;
}

#mønsterimg{
    width: 100%;
}

.billeder {
    width: 15em;
}

#åbning {
    display: flex;
    flex-direction: column;    
    align-content: center;
    margin: 2em;
    width: 80vw;
}

.sektioner{
    width: 80vw;
    max-width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    color: black;
    margin-bottom: 2em;
    padding: 1em;
    overflow: hidden; /* Sikrer, at indhold ikke stikker udenfor */
}

.sektioner img {
width: 20em;
height: auto; /* Bevarer billedets proportioner */
}

.sektioner h1, .sektioner h2, .sektioner p, h3, h4, a {
    margin: 1em; /* Tilføj indre afstand for tekst */
    word-wrap: break-word; /* Forhindrer lange ord i at overskride bredde */
}

#events{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p{
    width: 100%;
}
