*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html{
    background-color: black;
    width: 100vw;
}

#guitarspillerimg{
    width: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
width: 80vw;
line-height: 1.5em;
margin: 4em;
line-height: 2em;
}

h1, h2{
    margin-bottom: 0.5em;
}

h1{
    font-size: xx-large;
}

#mønsterimg{
    width: 100vw;
}

.billeder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

figure{
    width: 100vw;
}

.imgstr{
    width: 24em;
    padding:2em;
}